.running-cat {
  position: absolute;
  top: 3px;
  right: -2rem; 
  font-size: 2.5rem;
  animation: runAcross 8s linear infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes runAcross {
  0% {
    right: -2rem;
  }
  100% {
    right: 100%;
  }
}
